.card-header .btn-primary{
    margin-right: 5px;
}

.status{
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.border-right{
    border-right: 1px solid #ccc;
}

.btn-back{
    margin-bottom: 10px;
}

button{
    cursor: pointer;
}

.adicionarComentario{
    margin-bottom: 10px;
}