<div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="card card-body card-widget">
        <div class="widget-icon rounded-circle bg-blue text-white icon icon-basic-sheet">
        </div>
        <div class="block ml-3 mr-3">
          <h5 class="mb-0 fw-400">
            50
          </h5>
          <small class="text-muted text-uppercase ">
            <strong>Quantidade de Demandas</strong>
          </small>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="card card-body card-widget">
        <div class="widget-icon rounded-circle bg-green text-white icon icon-arrows-check">
        </div>
        <div class="block ml-3 mr-3">
          <h5 class="mb-0 fw-400">
            30
          </h5>
          <small class="text-muted text-uppercase ">
            <strong>Demandas Concluidas</strong>
          </small>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="card card-body card-widget">
        <div class="widget-icon rounded-circle bg-teal text-white icon icon-basic-clock">
        </div>
        <div class="block ml-3 mr-3">
          <h5 class="mb-0 fw-400">
            10
          </h5>
          <small class="text-muted text-uppercase ">
            <strong>Demandas em andamento</strong>
          </small>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="card card-body card-widget">
        <div class="widget-icon rounded-circle bg-red text-white icon icon-basic-clockwise">
        </div>
        <div class="block ml-3 mr-3">
          <h5 class="mb-0 fw-400">
            10
          </h5>
          <small class="text-muted text-uppercase ">
            <strong>Demandas não iniciadas</strong>
          </small>
        </div>
      </div>
    </div>
  </div>